.flag{
    width:45px;
    height:30px;
    overflow:hidden;
    border:1px solid #efefef
}

.italy{
    background:linear-gradient(
        90deg,
        #009246 33.33333%,
        #fff 33.33333%,
        #fff 66.66667%,
        #ce2b37 66.66667%
    );
}
.the-united-kingdom{
    background:#00247d;
    background-size:100px 100px;
    position:relative
}
.the-united-kingdom:before{
    position:absolute;
    content:"";
    top:0;
    left:0;
    background:linear-gradient(
            180deg,
            transparent 40%,
            #cc142b 0,
            #cc142b 60%,
            transparent 0
        ),
        linear-gradient(
            90deg,
            transparent 45%,
            #cc142b 0,
            #cc142b 55%,
            transparent 0
        ),
        linear-gradient(
            180deg,
            transparent 35%,
            #fff 0,
            #fff 65%,
            transparent 0
        ),
        linear-gradient(
            90deg,
            transparent 40%,
            #fff 0,
            #fff 60%,
            transparent 0
        ),
        linear-gradient(
            146deg,
            transparent 50%,
            #cc142b 0,
            #cc142b 53%,
            transparent 0
        ) -65px 45px,
        linear-gradient(
            146deg,
            transparent 50%,
            #cc142b 0,
            #cc142b 53%,
            transparent 0
        ) 55px -45px,
        linear-gradient(
            34deg,
            transparent 50%,
            #cc142b 0,
            #cc142b 53%,
            transparent 0
        ) -75px -43px,
        linear-gradient(
            34deg,
            transparent 50%,
            #cc142b 0,
            #cc142b 53%,
            transparent 0
        ) 70px 46px,
        linear-gradient(
            146deg,
            transparent 45%,
            #fff 0,
            #fff 55%,
            transparent 0
        ),
        linear-gradient(
            34deg,
            transparent 45%,
            #fff 0,
            #fff 55%,
            transparent 0
        );
    width:45px;
    height:30px;
    background-repeat:no-repeat
}