body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #FFFF;
  line-height: 1.8;
  background-color: black;
}

.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Create a Parallax Effect */
.bgimg-main, .bgimg-experience, .bgimg-thoughts, .bgimg-art, .bgimg-forever {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-main {
  min-height: 100%;
}
 
.bgimg-experience {
  background-image: url("./img/experience.jpg");
  min-height: 400px;
}

.bgimg-thoughts {
  background-image: url("./img/feel.jpg");
  min-height: 400px;
}

.bgimg-art {
  background-image: url("./img/art.jpg");
  min-height: 400px;
}

.bgimg-forever {
  background-image: url("./img/forever.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}